.section_hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;

  & h1 {
    font-size: 3em;
    font-weight: 600;
    color: #fab307;
  }

  & p {
    font-size: var(--font-paragraph);
  }
}

.div_hotels {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: thin solid var(--black);
  min-height: 100vh;
}