.section_hotels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;

  & h1 {
    font-size: 3em;
    font-weight: 600;
    color: #fab307;
  }

  & p {
    font-size: var(--font-paragraph);
  }
}

.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90vw;
  gap: 20px;
}