.section_welcome {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  min-height: 100vh;
  background-image: url("../../assets/bg-welcome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.img {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    min-height: 100vh;
    width: 600px;
    object-fit: cover;

  }
}


.text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  gap: 20px;
  min-height: 100vh;

  & h1 {
    font-size: 3.5rem;
    color: var(--primary-color);
    text-align: center;
  }

  & a {
    text-decoration: none;
    color: var(--primary-color);
  }

  & button {
    background-color: var(--white);
    border: medium solid var(--primary-color);

  }


}