.section_welcome {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;

  & h1 {
    font-size: 4em;
    color: var(--primary-color);
    text-align: center;
  }

  & p {
    font-size: 5em;
  }

  & a {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
  }

  & button {
    font-weight: 700;
    background: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
}
