.section_welcome {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;

  & h1 {
    font-size: 4em;
    color: var(--primary-color);
  }

  & p {
    font-size: 5em;
  }

  & a {
    font-size: 1.5em;
    color: var(--second-color);
  }
}
