* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: grid;
  place-content: center;
  gap: 20px;
  height: 100vh;
  background: #2e302f;

  & h1 {
    color: #cbcbcb
  }

  & span {
    color: #cbcbcb
  }
}